<html>
    <head> 

        <title>Blog - 404</title>

    </head>

    <body>
        <div class="layout">

            <%- include('partials/nav.ejs') %>

            <h1 class="title404">Oh no! You must have stepped onto some cables.</h1>
            <h1 class="title404"> Error 404 </h1>

            <img class="chain" src="https://cdn-icons-png.flaticon.com/512/3798/3798679.png">
            

            <%- include('partials/footer.ejs') %>

        </div>
    </body>
</html>