<html>
    <head> 

        <title>Blog - Login</title>

    </head>

    <body>
        <div class="layout">

            <%- include('partials/nav.ejs') %>

            <h1 class="title">Login</h1>
            
            <form action="/login" method="POST">
                <input name="username" type="text" placeholder="Username" required />
                <input name="password" type="password" placeholder="Password" required />

                <button type="submit">Login</button>
            </form>

            <%- include('partials/footer.ejs') %>

        </div>
    </body>
</html>